@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
	font-size: 18px;
}
.input-ans {
	width: 20%;
	margin-bottom: 10px;
	display: inline;
}
.correct {
	width: 40px;
}
.content {
	margin: 40px 100px;
}
.exam_image {
	max-width: 300px;
}
.index_content {
   margin-left: 200px;
   margin-right: auto;
}
.subject {
	margin-bottom: 20px;
}
